<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Login</title>
</head>

<body>
    <main>
        <form id="login-admin-form">
            <h1>Login as Admin</h1>
            <div>
                <label for="username"></label>
                <input type="text" name="username" id="name" placeholder="Name" required>
            </div>
            <div>
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <div>
                <label for="key"></label>
                <input type="password" name="key" id="key" placeholder="Enter your admin key" required>
            <div id="error-message">

            </div>
            <button type="submit">Login As Admin</button>
        </form>
    </main>
</body>


<script src="../public/js/loginAdmin.js"></script>

</html>