<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="../public/css/manageUsers.css">
</head>
<body>
    <h1>User Management</h1>
    <table id="userTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dinamic fetch-->
        </tbody>
    </table>

    <script src="../public/js/manageUsers.js"></script>
</body>
</html>
